footer
  div Packages index update once per day, last update at <time datetime="#{lastUpdated.toISOString()}">#{datefns.format(lastUpdated, "yyyy-MM-dd HH:mm")}</time>
  div View website source on <a href="https://github.com/xuchunyang/pkgs">GitHub</a> | <a href="http://beian.miit.gov.cn/">苏ICP备2020065056号</a>
