html,
body {
  height: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

.container {
  margin: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em
}

#search input[type="search"] {
  font-family: inherit;
  font-size: 100%;
  padding: 5px;
  margin: 5px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

#pagination {
  margin-top: 1em;
}

#pagination ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#pagination ul a {
  display: block;
  padding: 8px 16px;
}

#pagination a {
  text-decoration: none;
}

#pagination a.active {
  background-color: #4caf50;
  color: #eee;
}

#pagination a:link,
#pagination a:visited {
  color: #333;
}

#pagination a:hover {
  background-color: #ddd;
}
