html,
body {
  height: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.5;
}

.container {
  margin: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

#search input[type="search"] {
  font-family: inherit;
  font-size: 100%;
  padding: 5px;
  margin: 5px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

#pagination {
  margin-top: 1em;
}

#pagination ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#pagination ul a {
  display: block;
  padding: 8px 16px;
}

#pagination a {
  text-decoration: none;
}

#pagination a.active {
  background-color: #4caf50;
  color: #eee;
}

#pagination a:link,
#pagination a:visited {
  color: #333;
}

#pagination a:hover {
  background-color: #ddd;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 85%;
  color: #666;
  text-align: center;
}

/* http://elpa.gnu.org/layout.css */
pre {
  font-size: 14px;
  background-color: #fafafa;
  padding: 15px;
  border: 1px solid #dadada;
  overflow-y: auto;
}

dd ul {
  margin: 0;
}
